# iMX RT117x series

# Copyright (c) 2020, NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_IMX_RT117X
	bool "i.MX RT117X Series"
	select ARM
	select SOC_FAMILY_IMX
	select CLOCK_CONTROL
	help
	  Enable support for i.MX RT117X MCU series
