# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2022 Schlumberger

config BOARD_GEN5_AGGB_DEV
	bool "Infineon XMC4700 Gen5 Aggregator Dev"
	depends on SOC_SERIES_XMC_4XXX
	select SOC_PART_NUMBER_F144X2048
